@import "tailwindcss";

:root {
  --font-family: var(--font-poppins);
  --default-font-family: var(--font-inter);
  color: white;
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --color-charade: #262636;
  --color-ebony-clay: #25253b;
  --color-mandy: #e44c57;
  --color-martinique: #302c44;
}
