@import "tailwindcss";

:root {
  --accent-9: theme(colors.mandy);
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --color-charade: #262636;
  --color-ebony-clay: #25253b;
  --color-mandy: #e44c57;
  --color-martinique: #302c44;
}

h1,
h2,
h3 {
  font-family: var(--font-poppins) !important;
}

h1 {
  margin-bottom: 2rem;
  color: var(--color-mandy);
}

h2 {
  font-size: 1.5rem !important;
  text-align: center;
}

p {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2.25rem !important;
    text-align: start;
  }

  p {
    text-align: start;
  }
}

/* @media screen and (min-width: 768px) {
  h2 {
    font-size: 1.75rem !important;
  }
} */
